APP_NAME=Screen Recorder
APP_VERSION=1.0.0
APP_DESCRIPTION=Grabador de pantalla con audio del sistema y microfono
APP_REPO_URL=https://github.com/AIWaveSystems/screenRecording
APP_RELEASES_URL=https://github.com/AIWaveSystems/screenRecording/releases
APP_ISSUES_URL=https://github.com/AIWaveSystems/screenRecording/issues
APP_LICENSE=MIT
APP_AUTHOR=Ilesandres
APP_AUTHOR_URL=https://github.com/Ilesandres
APP_COPYRIGHT=Copyright (c) 2026 Ilesandres

ORG_NAME=AIWaveSystems
ORG_URL=https://github.com/AIWaveSystems
ORG_LOGO_URL=https://avatars.githubusercontent.com/u/196564504?s=200&v=4
ORG_LOGO_FILE=assets/aiwavesystems.png
ORG_TAGLINE=Powered by AIWaveSystems
